<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Tizados Gamarra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ventas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{'/ventas/'}">Ver ventas</a></li>
                        <li><a class="dropdown-item" href="#">Reportes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pedidos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{'/pedidos/'}">Ver pedidos</a></li>
                        <li><a class="dropdown-item" href="#">Reportes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{'/servicios/'}">Ver servicios</a></li>
                        <li><a class="dropdown-item" href="#">Agregar unidad de medida</a></li>
                        <li><a class="dropdown-item" href="#">Agregar Categoría</a></li>
                        <li><a class="dropdown-item" href="#">Agregar Subcategoría</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/clientes/'}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/empleados/'}">Otros <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <!-- Otras opciones del menú -->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span th:text="${usuarioLog.usuario}"></span> <i class="bi bi-person-fill"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Configuración</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i> Salir del sistema</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>