<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Informe de Ventas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9d72cb34f3.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.0/jspdf.debug.js" integrity="sha512-6HmJ9Y5PZWQVCd4KUwIaSgtDskfsykB+Fvm8Nq98GVCMHstaVoX9jqDdwSyGCbmJy5eLs/DXgDE3SXRS+2B2yA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js" integrity="sha512-ul1YfUNJC8jMkS+CC2vKEb1BcpFaGfvp9aE5RuwQmzvZEvxLV/fQusijuEIdOfSaR+3vG8LNUdz81easFoWTOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div th:replace="~{navbar.html}"></div>
        <div class="container mt-3">
            <h2>Generación de Reportes</h2>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" type="month" value="" id="fechaInput">
                            <button class="btn btn-primary" type="button" onclick="buscarVentasMes(null)"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3" id="mesAnioTabla"></div>

        </div>
        <script th:inline="javascript">
            function buscarVentasMes(monthYear) {
                if (monthYear === null) {
                    monthYear = document.getElementById('fechaInput').value;
                }
                $.ajax({
                    url: "/ventas/reporte/MA",
                    type: "GET",
                    data: {monthYear: monthYear},
                    success: function (response) {
                        $("#mesAnioTabla").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error en la petición AJAX: " + error);
                    }
                });
            }
            ;

            window.addEventListener("load", function () {
                var fechaActual = new Date();
                var mesActual = fechaActual.getMonth() + 1;
                var anioActual = fechaActual.getFullYear();
                var mesAnioActual = anioActual + "-" + (mesActual < 10 ? "0" + mesActual : mesActual);
                buscarVentasMes(mesAnioActual);
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    </body>
</html>
